:root{
    --bg-color: #f2ecd6;
    --primary-color: #f5c103;
    --btn-color: #000000;
    --green-light: #00ff00;
}
*{
    margin : 0;
    box-sizing : border-box;
}
body{
    background-color : var(--bg-color);
    font-family : 'Poppins', sans-serif;
}
a{
    text-decoration : none;
    color: var(--btn-color);
}
main{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center; 
    height : 100vh;
    max-width : 30rem;
    margin : 0 auto;
    padding : 2rem;
    gap : 1rem;  
    background-color : var(--primary-color);
}
section{
    display : flex;
   place-items : center;
    gap : 1rem;  
}
canvas{
    border : 2px solid var(--green-light);
    width : 50%;
    aspect-ratio : 1/1;
    border-radius : 0.25rem;
    display : none;
}
input{
    width : 100%;
    padding : 0.75rem 0.5rem;
    border-radius : 0.25rem;
    border : 1px solid var(--btn-color);
    font-size : 1rem;
    
}
button{
    width : 100%;
    padding : 1rem;
    border-radius : 0.25rem;
    border : none;
    background-color : var(--btn-color);
    color : var(--primary-color);
    font-size : 1rem;
    cursor : pointer;
    box-shadow : 0.25rem 0.25rem 0.5rem rgba(146, 130, 44, 0.25);
} 
@media screen and (min-width : 30rem){
    main{
        height : min-content;
        border-radius : 1rem;
        position: absolute;
        inset : 0;
        margin : auto;
    }
    
}